* {
    box-sizing: border-box; 
}
header, .column, footer {
    border: 1px solid grey;
}
main {
    height: 45vh;
}
header {
    height: 35vh;
}
footer {
    height: 19.5vh;
}
.column {
    float:left;
    width:33.33%;
    height: 100%;
}