*{
    box-sizing: border-box;
    margin-top: 0px;
}
header, main, footer, .col1, .col3 {
    border: 1px solid grey;
}
header {
    height: 30vh;
}
main {
    height: 40vh;
}
footer {
    height: 29.5vh; 
}
.col1 {
    float:left;
    width: 25%;
    height: 100%;
}
.col3 {
    float: left;
    width:50%;
    height:100%;
}