* {
    box-sizing: border-box;
    margin-top: 0px;
}
header {
    height: 70vh;
}
footer {
    height: 30vh;
}
footer, .col, .container, .row1, .row2, .row3, .col1, .col2 {
    border: 1px solid grey;
}
.col {
    float:left;
    height:100%;
    width: 25%;
}
.container {
    float:right;
    height: 100%;
    width: 75%;
}
.row1 {
    height:45%;
}
.row2 {
    height: 55%;
}
.col1 {
    float: left;
    width: 66%;
    height: 100%;
}
.col2 {
    float: right;
    width: 34%;
    height: 100%;
} 